.right-section__header {
    display: flex;
    padding-bottom: 2%;
    border-bottom: 1px solid grey;
  }

.right-section__profile-picture {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 5.5rem;
}

.right-section__text {
    margin-left: 38%;
    align-self: center;
}
  
.right-section__name {
    font-size: 2.4rem;
    margin: 0;
    text-align: center;
}
  
.right-section__status {
    margin: 0;
    text-align: center;
}