.connection {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: white;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  overflow: hidden;
}

.connection__left {
  padding: 2% 10%;
  /* border: 1px solid red; */
}

.connection__right {
  background-color: #5500ff;
  position: relative;
  height: 150%;
  width: 110%;
  transform: translateX(10%) translateY(-15%) rotate(10deg);

  /* clip-path: polygon(20% 0%, 100% 0%, 50% 100%, 0% 50%); */
  /* width: 100%; */
  /* height: 100vh; */
  /* border: 1px solid red; */
}

.blue {
  position: relative;
  height: 50%;
  border-radius: 2rem;
  width: 100%;
  background: #5100b4;
  transform: translateX(-25%) translateY(-57%) rotate(-20deg);
  z-index: 1;
}

.blur-blue-top {
  position: relative;
  background: #7d15ff;
  border-radius: 2rem;
  height: 50%;
  width: 100%;
  transform: translateX(35%) translateY(-135%);
  z-index: 0;
}
.sky-blue {
  position: relative;
  background: #687fff;
  height: 100%;
  width: 100%;
  transform: translateX(20%) translateY(-50%) rotate(-40deg);
  /* transform: translateX(15%) translateY(-45%) rotate(40deg); */
  border-radius: 2rem;
}

.connection__first-title {
  font-size: 4rem;
}

.connection__paragraph {
  font-size: 1.6rem;
}

.connection__input-group {
  display: flex;
  align-items: center;
}

.connection__input-group input {
  font-size: 1.6rem;
  width: 75%;
  margin: 2%;
  outline: none;
  padding: 3% 3% 3% 0;
  border: none;
  border-bottom: 1px solid rgb(134, 133, 133);
}

.connection__icon {
  color: rgb(134, 133, 133);
  font-size: 2.5rem;
  margin-right: 3%;
}

.connection__button {
  margin: 6% 0;
  font-size: 1.6rem;
  background-color: #5500ff;
  /* padding: 2% 5%; */
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  color:white;
  transition: background-color 1s, color 1s,
}

.connection__button:hover {
  background-color:white ;
  color:#5500ff;
  border: 1px solid #5500ff;
}
