.right-section {
  width: 45%;
  padding: 2% 4%;
  background: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 0.7rem 1rem #9c9c9c;
  position: relative;
}
.right-section figure {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section__messages {
  height: 75%;
  overflow-y: scroll;
}

.right-section__message {
  display: flex;
  flex-direction: column;
  
  /* position: relative; */
}
