.middle-section__third-title {
  color:black;
  font-size: 1.8rem;
  margin: 0;
  transition: color .6s;

}

.middle-section__paragraph {
  font-size: 1.4rem;
  color: grey;
  margin: 0;
  transition: color .6s;

}

ul {
  padding:0;
}
.middle-section__contact {
  background-color: white;
  width: 90%;
  display: flex;
  list-style: none;
  align-items: center;
  align-self: center;
  cursor: pointer;
  padding: 5% 0 5% 0;
  transition: background-color .8s;
  margin: 0 auto;
}

.middle-section__contact:hover {
    background-color: #5500FF;
  width: 100%;
  padding: 5% 0 5% 5%;


}

.middle-section__contact:hover .middle-section__third-title {
  color:white;
}

.middle-section__contact:hover .middle-section__paragraph {
  color:white;
}

.middle-section__contact:not(:last-child) {
  padding-bottom: 5%;
  border-bottom: 1px solid grey;
}

.middle-section__profile-picture {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 5.5rem;
  margin-right: 2%;
}
