.left-section {
  width: 13%;
  background-color: #5500ff;
  margin-right: 4%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.left-section__profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20%;
  align-self: center;
}

.left-section__button {
  align-self: center;
  width: 80%;
  border: none; 
  margin: 2% 0;
  font-size: 1.6rem;
  padding: 6% 5%;
  border-radius: 0.5rem;
  color: #5500ff;
  cursor: pointer;

}

.left-section__button--cancel {
  background-color: rgba(255, 8, 8, 0.842);
  color: white;

}
.left-section__navigation ul {
  margin-top: 4rem;
}

li {
  list-style: none;
  margin-left:20%;
   /* width: 80%; */
  /* align-self: flex-end; */
}
.left-section__link {
  height: 7rem;
  color: white;
  font-size: 4.5rem;
  background: #4900e6;
  border-radius: 2rem 0 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background: linear-gradient(90deg, #4900e6 95%, rgb(238, 255, 0) 5%);
}

.icon-contact {
  width: 30%;
}

.left-section__logout {
  font-size: 4.5rem;
  margin-top: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.icon-logout {
  /* background-color: white; */
  color: white;
}

.inputFile {
  display: none;
}

.update-profile-picture-loader {
  margin-top: 20%;
  align-self: center;
}